<p>
  <%= link_to 'Login', login_path%>
  <%= link_to 'Logout', logout_path%>
  <%= link_to 'Admin', admin_traivans_path%>
  <%= link_to 'Posts', admin_posts_path%>
  <%= link_to 'Tags', new_admin_tag_path%>
  <%= link_to 'Settings', new_admin_setting_path%>
</p>
