<h1>Admin User</h1>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Fullname</th>
      <th>Username</th>
      <th>Created</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @traivans.each do |traivan|%>
    <tr>
      <td><%= traivan.id%></td>
      <td><%= traivan.fullname%></td>
      <td><%= traivan.username%></td>
      <td><%= time_ago(traivan.created_at)%></td>
      <td>
        <%= link_to 'edit', edit_admin_traivan_path(traivan)%>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
