<!DOCTYPE html>
<html>
  <head>
    <title>TraivanBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="bg">
    <%= render 'shared/alerts'%>
    <%= render 'shared/admin_nav'%>
    <%= yield %>
  </body>
</html>
