<!DOCTYPE html>
<html>
  <head>
    <title>TraivanBlog</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/post_nav'%>
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <%= yield %>
        </div>
        <div class="col-md-4"> 
          <%= render 'shared/sidebar_widgets'%>
        </div>
      </div>
    </div><!--end of class container-->
    <%= render 'shared/post_footer'%>
    

  </body>
</html>
